---
const stats = [
  {
    name: 'Años',
    value: '2',
  },
  {
    name: 'Expertos',
    value: '7',
  },
  {
    name: 'Proyectos',
    value: '4',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra misión</h2>
          <div class="space-y-6">
            <p style="text-wrap: balance" class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              En Alaska Tech tenemos la misión de ayudar a nuestros clientes a alcanzar sus objetivos digitales mediante el desarrollo de soluciones de software innovadoras y de alta calidad.
            </p>
            <p style="text-wrap: balance" class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nos comprometemos a comprender profundamente los retos de negocio de nuestros clientes para así crear productos tecnológicos que generen un verdadero impacto. Trabajamos de la mano de nuestros clientes como socios de confianza durante todo el proceso.
            </p>
            <p style="text-wrap: balance" class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nuestro equipo multidisciplinario aporta su experiencia, creatividad y pasión en cada proyecto con el fin de superar expectativas y establecer relaciones a largo plazo basadas en los resultados entregados. Buscamos marcar la diferencia en el mundo digital.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
