---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Privacidad · Alaska"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Política de Privacidad</h1>
      <p class="text-base">Última actualización: 31 de julio de 2023</p>
    </div>
    <div>
      <p class="mb-4">
        En Alaska Tech, estamos comprometidos con la protección de su privacidad. Esta Política de
        Privacidad describe cómo recopilamos, utilizamos y protegemos su información personal cuando
        utiliza nuestro sitio web/aplicación/servicio. Por favor, tómese un momento para leer este
        documento y comprender nuestras prácticas.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Información que recopilamos</h2>
      <p class="mb-6">
        Podemos recopilar los siguientes tipos de información personal cuando interactúa con nuestro
        sitio web/aplicación/servicio:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Información que usted nos proporciona: Cuando se registra, crea una cuenta o utiliza
          ciertas funciones, podemos solicitar su nombre, dirección de correo electrónico, datos de
          contacto y otra información relevante.
        </li>
        <li>
          Datos de uso: Podemos recopilar datos sobre cómo utiliza nuestro sitio
          web/aplicación/servicio, incluyendo su dirección IP, tipo de navegador, información del
          dispositivo, páginas visitadas e interacciones con el contenido.
        </li>
        <li>
          Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar
          su experiencia, entender los patrones de uso y mejorar nuestro sitio
          web/aplicación/servicio.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Cómo utilizamos su información</h2>
      <p class="mb-4">Podemos utilizar su información personal para los siguientes propósitos:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Proveer y mejorar nuestro sitio web/aplicación/servicio: Su información nos ayuda a
          ofrecer una experiencia personalizada y amigable para el usuario.
        </li>
        <li>
          Comunicación: Podemos utilizar su dirección de correo electrónico o datos de contacto para
          enviarle actualizaciones importantes, boletines informativos y contenido promocional.
          Usted puede darse de baja de estas comunicaciones en cualquier momento.
        </li>
        <li>
          Análisis: Utilizamos datos agregados y anónimos para analizar el comportamiento del
          usuario y mejorar nuestro sitio web/aplicación/servicio.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contáctenos</h2>
      <p class="mb-4">
        Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad, por favor
        contáctenos en [correo electrónico/número de teléfono/dirección de contacto].
      </p>
    </div>
  </div>
</Layout>
