<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Quienes somos</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p style="text-wrap: balance" class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Somos una compañía de desarrollo de software con sede en Medellín. Nos enfocamos en entregar soluciones web, móviles y de inteligencia artificial de alta calidad, ayudando a nuestros clientes a alcanzar sus objetivos de negocio. Contamos con un equipo de talentosos desarrolladores y diseñadores comprometidos con la excelencia.
        </p>
        <a
          href="/about"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
        Más información
        </a>
      </div>
    </div>
  </div>
</section>
